<%= simple_form_for @pic, html: { multipart: true } do |f| %>
	<% if @pic.errors.any? %>
		<h2>
			<%= pluralize(@pic.errors.count, "error") %>
			prevented this Pic from saving
			<ul>
			<% @pic.errors.full_message.each do |error| %>
				<li><%= error %></li>
			<% end %>
			</ul>
		</h2>
	<% end %> 
	<div class="form-group">
		
		<%= f.input :title, input_html: { class: 'form-control' } %>
	</div>
	<div class="form-group">
		
		<%= f.input :description, input_html: { class: 'form-control' } %>
	</div>
		<%= f.button :submit, class: 'btn btn-default' %>
<% end %>